<div id="allmatches">
    
  
   <a href="#!local" style="text-decoration:none"> <h3  ng-click="oneonone(key)" ng-repeat="key in playedteams |orderBy:'date'"  id="allsummary" datastore="{{key.date}},{{key.opponent}}">date&nbsp;&nbsp;:&nbsp;&nbsp;{{key.date}},&nbsp;&nbsp;&nbsp; match:&nbsp;&nbsp;{{key.matchname}},&nbsp;&nbsp;&nbsp; opponent&nbsp;&nbsp;:&nbsp;&nbsp;<img id="allsummaryicons" ng-src="./images/teamsicons/match1/{{key.opponent}}.png" width="3%"/>{{key.opponent}},&nbsp;&nbsp;score&nbsp;&nbsp;:&nbsp;&nbsp;{{key.score}}</h3></a>
    
    



</div>