<div id="teamstatistics" class="container2">
    
    <div id="matchhead"><h1 id="matchheadtext">{{details.match}}</h1></div>
    <div id="team0"><h1 style="text-align:center;" class="team1text">date&nbsp;&nbsp;:&nbsp;&nbsp;{{details.date}}</h1></div>
 <div id="team1">
    <h1 class="team1text" style="text-align:center;"><img width="20%" ng-src="./images/teamsicons/match1/{{details.team1}}.png"/>&nbsp;&nbsp;&nbsp;&nbsp;{{details.team1}}</h1>
    <h1 class="team1text" style="text-align:center">score&nbsp;&nbsp;:&nbsp;&nbsp;{{details.score1}}</h1>
    
    </div>
<div id="team2">
    <h1 class="team1text" style="text-align:center"><img width="20%" ng-src="./images/teamsicons/match1/{{details.team2}}.png"/>&nbsp;&nbsp;&nbsp;&nbsp;{{details.team2}}</h1>
     <h1 class="team1text" style="text-align:center">score&nbsp;&nbsp;:&nbsp;&nbsp;{{details.score2}}</h1>
    </div>
    

</div>






