<div id="view1inner" >
<a href="#!teams"><img class="teamlogos children" ng-src="./images/teamsicons/match1/Bournemouth.png"  id="Bournemouth" ng-click="teamSummary($event,$scope)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Arsenal.png" id="Arsenal" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Hull City.png" id="Hull City" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Chelsea.png" id="Chelsea" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Crystal Palace.png" id="Crystal Palace" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Everton.png" id="Everton" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Leicester City.png" id="Leicester City" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Liverpool.png" id="Liverpool" ng-click="teamSummary($event,$scope)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Manchester City.png" id="Manchester City" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" id="Manchester United" ng-src="./images/teamsicons/match1/Manchester United.png" ng-click="teamSummary($event,$scope)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Middlesbrough.png" id="Middlesbrough" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Burnley.png" id="Burnley" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Southampton.png" id="Southampton" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Stoke City.png" id="Stoke City" ng-click="teamSummary($event,$scope)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Sunderland.png" id="Sunderland" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Swansea.png" id="Swansea" ng-click="teamSummary($event,$scope)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Tottenham Hotspur.png" id="Tottenham Hotspur" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/Watford.png" id="Watford" ng-click="teamSummary($event)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/West Bromwich Albion.png" id="West Bromwich Albion"  ng-click="teamSummary($event,$scope)"></a>
<a href="#!teams"><img class="teamlogos" ng-src="./images/teamsicons/match1/West Ham United.png" id="West Ham United" ng-click="teamSummary($event,$scope)"></a>
</div>