<div id="teamstatistics" class="container2">
<div id="teamindi-1">
    <img id="teamicon" ng-src="./images/teamsicons/match1/{{teamname}}.png"/>
    </div>
    

<div id="teamindi-2"><h1 id="teamname">{{teamname}}</h1></div>
    
 <div id="teamindi-3" > <h1>Total Matches &nbsp;&nbsp; :&nbsp;&nbsp; {{totalmatch}}</h1>
    
    
    <h1>Total Score &nbsp;&nbsp; :&nbsp;&nbsp; {{totalscore}}</h1>
     <h1> win &nbsp;&nbsp; :&nbsp;&nbsp; {{totalwin}}</h1>
     <h1>loss &nbsp;&nbsp; :&nbsp;&nbsp; {{totalloss}}</h1>
     <h1>draw &nbsp;&nbsp; :&nbsp;&nbsp; {{totaldraw}}</h1>
    </div>
    <div id="teamindi-4"><a href="#!allmatch" style="text-decoration:none;"><h1 id="allmatchsummary" ng-click="vediocheck()"> click here for each matches</h1></a>
   
    
    </div> 


    </div>